* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-image: url(https://previews.123rf.com/images/last19/last191910/last19191000074/131892750-hierbas-de-alimentos-saludables-especias-para-usar-como-ingredientes-de-cocina-sobre-un-fondo-de-mad.jpg?fj=1);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  html {
    font-family: "Nunito";
    font-size: 12px;
  }
  
  section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    background-image: url(https://previews.123rf.com/images/last19/last191910/last19191000074/131892750-hierbas-de-alimentos-saludables-especias-para-usar-como-ingredientes-de-cocina-sobre-un-fondo-de-mad.jpg?fj=1);;
  }
  .container {
    width: 100%;
    height: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .brand {
    text-align: center;
    font-size: 4rem;
    color: whitesmoke;
    margin-bottom: 30px;
  }
  form {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    background-color: rgb(223, 223, 223);
  }
  input {
    width: 90%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 2rem;
    background-color: rgb(223, 223, 223);
    display: inline-block;
  }
  form ion-icon {
    width: 8%;
    font-size: 3rem;
    margin-bottom: -8px;
    color: rgb(75, 75, 75);
    display: inline-block;
  }
  .search-result {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-gap: 25px;
    grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
  }
  .item {
    width: 100%;
    border-radius: 8px;
    background-color: rgb(37, 37, 37);
    padding: 15px;
    overflow: hidden;
  }
  .item img {
    width: 100%;
    height: 300px;
    border-radius: 4px;
  }
  .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .search-result .title {
    color: whitesmoke;
    margin: 20px 10px 0 0;
    font-size: 1.8rem;
    font-weight: 400;
  }
  .view-btn {
    text-decoration: none;
    text-align: center;
    width: 130px;
    padding: 10px 0;
    background-color: #404041;
    color: whitesmoke;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 4px;
    align-self: flex-start;
  }
  .item-data {
    color: whitesmoke;
    display: block;
    margin-top: 10px;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    line-height: 2rem;
  }
  .container.initial .brand {
    font-size: 7rem;
  }
  .container.initial form {
    max-width: 800px;
  }
  .container.initial form input {
    padding: 20px;
    font-size: 3rem;
  }

  .navbar-brand {
    padding: 15px;
    font-family: "Nunito";
    font-size: 50px;
    font-weight: bold;
    background-color: #3b352c;
    color: white;
  }

  .navbar-menu {
    background-color: #3b352c;
  
  }

  #about-nav {
    font-size: 25px;
    font-weight: bold;
  }

  #recipe-nav{
    font-size: 25px; 
    font-weight: bold;
  }

  #search-nav{
    font-size: 25px;
    font-weight: bold; 
  }

  .navbar {
    border-style: solid;
    border-width: 10px;
    border-color: #3b352c;
  }
  .navbar-end a:hover {
    transition: 0.6s;
    color: #3b352c;
  }

  #about-nav:hover {
    color: #3b352c;
  }
  #about-nav:active {
    transform: translateY(2px);
  }

  .twitter-share-button {
    float: right;
    margin-right: 50px;
    margin-top: 10px;
  }

  footer {
    background-color: #3b352c;
    color: white;
    position: fixed;
    bottom: 0;
    height: 30px;
  }

  
.box {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: fit-content;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

.box h1 {
  padding: 5px;
  font-size: 300%;
}

#about-box {
  color: white;
  background-color: #3b352c;
}


.new-box {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: fit-content;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}
.new-box {
  color: white;
  background-color: #3b352c;
}


  
  
  @media (max-width: 768px) {
    .search-result {
      grid-gap: 10px;
    }
    .container.initial .brand {
      font-size: 4rem;
    }
    .container.initial form {
      max-width: 500px;
    }
    .container.initial form input {
      padding: 10px;
      font-size: 2rem;
    }
  }
  


  